<div class='container'>
	<div class=-'row'>
		<div class='col-xs-12' >
			<h1 class='text-center'>This. Is. JEOPARDY!</h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-12' >
			<table class='table'>
				<% @clues.order(seq: :desc).each do |clue| %>
					<tr>
						<td>
							<%= render partial: 'clues/show', locals: {clue: clue} %>
							<% if !current_user.nil? and !current_user.clue_answered(clue.id) and current_user.current_clue_of_week.id == clue.id %>
								<br>
								<%= render partial: 'answers/form', locals: {clue: clue} %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
