<table class='table table-bordered'>
  <tr>
    <th colspan="2">
      <h4>Last Week's Winner<%= @last_winners.length > 1 ? "s" : "" %></h4>
    </th>
  </tr>
  <tr>
    <th>Player</th>
    <th>Streak</th>
  </tr>
  <% if !current_user.nil? and !@last_winners.empty? %>
    <% @last_winners.each do |winner| %>
      <tr>
        <td><%= winner.name %> <%= image_tag('thinker.gif', id: 'thinker') %></td>
        <td class='text-right'><%= winner.winning_streak(@prev_week) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>
