<table class='table'>
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
  <% if !current_user.nil? and !@scoreClue.nil? %>
    <% @scoreUsers.sort_by{ |u| [-@scoreClue.user_current_score(u.id), u.name] }.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= @scoreClue.user_current_score(user.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
