<table class='table table-bordered'>
  <tr>
    <th colspan="2">
      <h4>Current Scores</h4>
    </th>
  </tr>
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
  <% if !current_user.nil? and !@scoreClue.nil? %>
    <% @scoreUsers.sort_by{ |u| [-@scoreClue.user_current_score(u.id), u.name] }.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
          <% if @last_winners.any? {|u| u.id == user.id} %> <%= image_tag('thinker.gif', id: 'thinker') %> <% end %>
        </td>
        <td class="j-score text-right">$<%= number_with_delimiter(@scoreClue.user_current_score(user.id)) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>
