<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<h3>Editing Clue...</h3>
			<h4><%= @clue.category + " " + @clue.value_label %></h4>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<%= render 'form' %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6' style='padding-top: 20px'>
		<%= button_to 'Delete Clue', clue_path(@clue),
			method: :delete,
			data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6' style='padding-top: 20px'>
			<%= link_to 'Back', clues_path(day: @day), class: 'btn btn-default' %>
		</div>
	</div>
</div>
