<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<ul class="pager">
			  <li class="previous"><%= link_to 'Previous Week', clues_path(day: @prev_week) %></li>
				<li><%= link_to 'New Clue', new_clue_path(day: @day) %></li>
			  <li class="next"><%= link_to 'Next Week', clues_path(day: @next_week) %></li>
			</ul>
		<div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<table class='table'>
				<% @clues.order(week: :desc, seq: :desc).each do |clue| %>
					<tr>
						<td>
							<%= render partial: 'show_admin', locals: {clue: clue} %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
