<div class='container'>
	<div class='row'>
		<div class='col-xs-2'>
			<%= link_to 'New clue', new_clue_path %>
		<div>
	</div>
	<div class='row'>
		<div class='col-xs-12'>
			<!--<div class="dropdown open">
			  	<button class="btn btn-secondary dropdown-toggle" type="button" id="weekDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   		Dropdown button
			  	</button>
			  	<div class="dropdown-menu" aria-labelledby="weekDropDown">
			   		<a class="dropdown-item" href="#">Action</a>
				    <a class="dropdown-item" href="#">Another action</a>
				    <a class="dropdown-item" href="#">Something else here</a>
			  	</div>
			</div>-->
			<table class='table'>
				<% @clues.order(week: :desc, seq: :desc).each do |clue| %>
					<tr>
						<td>
							<%= render partial: 'show_admin', locals: {clue: clue} %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
