<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<h3>New Clue</h3>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<%= render 'form' %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12' style='padding-top: 20px'>
			<%= link_to 'Back', clues_path(day: @day) %>
		</div>
	</div>
</div>
